PyYAML
click==8.0.4
datasets
detoxify
dill
flask-cors
flask-httpauth
flask-restx
flask==2.1.2
matplotlib
nltk
numpy
pandas
scikit-learn
seaborn
stringcase
sklearn
slackclient
slackeventsapi
spacy
torch
tqdm
waitress
werkzeug==2.1.2
wordcloud